<%- include('nav-header', {titleName: `${data[0].name} Notes`}) %>

<div class='container'>
  <div class="row">List of <%=data[0].name%> Notes</div>
  <div class="row">
    <div class="col titleLabel">Note Id</div>
    <div class="col titleLabel">Date</div>
    <div class="col titleLabel">Habitat</div>
    <!-- for the buttons -->
    <div class="col"></div>
  </div>
  <!-- ejs loop to insert all notes -->
  <% if (empty) {%>
     <div class ='row'>
       No notes found!
     </div>
  <%} else{ for (let i=0; i<data.length; i+=1) {%>
  <div class="row">
    <div class="col"><%=data[i].id%></div>
    <div class="col"><%=data[i].date%></div>
    <div class="col"><%=data[i].habitat%></div>
    <div class="col"> <form> 
      <button class="mainButton btn btn-dark col" formaction="/note/<%= data[i].id %>" type='submit' formmethod="get">View</button>
       <button class="mainButton btn btn-dark col" formaction="/note/<%= data[i].id %>?_method=delete" type='submit' formmethod="post">Delete</button> </form>
    </div>
  </div>
  <% }} %>
</div>
</body>
</html>